# Configurações do Homelab
DOMAIN="cusin-server.duckdns.org"
IP_INTERNAL="192.168.31.55"
BASE_DATA_PATH="$HOME/data"

# Personal Access Token (PAT) do GitHub
# Se deixado em branco, o script 03-setup-argocd.sh tentará ler de $HOME/github_token
GITHUB_AUTH_TOKEN=""